h1{
    text-align: center;
    color:white
}
body{
    background-color: black;
}
.new {
    color:rgb(127,255,212);
    font-size:16px;
    text-align: center;
    text-decoration: underline;
}
.center{
    text-align: center;
}
p{
    color:white;
    text-align: center;
}

#shade{
opacity:0.5;
}
h2{
    color:white;
    text-align: center;
}
img{
    align-items: center;
}
.media{
    text-align: center;
}